.Builder {
  height: 90%;
}

.Builder-Top {
  background-color: rgba(0, 0, 0, 0.7);
  height: 10%;
}

.Builder-Main {
  display: flex;
  height: 85%;
}

.Builder-Bottom {
  height: 5%;
}

.Builder-Left, .Builder-Right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Builder-Left {
  width: 30%;
}

.Builder-Right {
  width: 70%;
}

.Left-Box, .Right-Box {
  height: 95%;
  background-color: rgba(255, 255, 255, 0.5);
}

.Right-Box {
  width: 95%;
}

.Left-Box {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
