/*rich black #020122
burnt orange #cc5500
flax #EDD382
kobicha #774E24
prune #6E0D25*/

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 2%;
  color: white;
}

.App-main {
  display: flex;
  background-color: white;
  height: 70%;
  width: 100%;
}

.App-footer {
  height: 10%;
  color: white;
}

.App-logo {
  height: 80%;
  margin-right: 2%;
}

.header-left, .header-right {
  display: flex;
}

.header-right {
  width: 30%;
}

.header-button {
  height: 30%;
  width: 100%;
  border: 2px solid white;
  margin: 1%;
}

.Progress-bar {
  width: 15%;
  background-color: #cc5500;
}

.Main-content {
  width: 85%;
}
