/*burnt orange #cc5500
flax #EDD382
kobicha #774E24
prune #6E0D25*/

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.Footer-logo {
  height: 50px;
}
