.Carousel {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
}

.Carousel-Item {
  height: 28px;
  color: rgba(255, 255, 255, 0.5);
}

.slick-center {
  color: orange;
  /*text-decoration: underline;*/
}
